// 
// Desktop
// 
footer {
    background: $navigation-color;

    .footer {
        &__title {
            padding: 100px;
            margin: 0;
            font-size: 18px;
            text-align: center;
            color: white;
        }
    }
}

// 
// Mobile
// 
@media screen and (max-width: 1000px) {
    footer {
        .footer {
            &__title {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}